input{
    outline: none;
}

a{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

.tours-appointment-rgt{
    z-index: 90;
}

select {
    outline: none;
}

.tour-video > div {
    width: 100% !important;
    height: 100% !important;
}

.tour-video > div >div {
    width: 100% !important;
    height: 100% !important;
}

.tour-video > div >div > div{
    width: 100% !important;
    height: 100% !important;
}