input{
    outline: none;
}

a{
    cursor: pointer;
}

.clickable{
    cursor: pointer;
}

.tours-appointment-rgt{
    z-index: 90;
}

select {
    outline: none;
}

.tour-video > div {
    width: 100% !important;
    height: 100% !important;
}

.tour-video > div >div {
    width: 100% !important;
    height: 100% !important;
}

.tour-video > div >div > div{
    width: 100% !important;
    height: 100% !important;
}

.home-full-view .location-filter .container {
    padding-bottom: 0 !important;
}

.find-src{
    display: flex;
    align-items: center;
}

.copyright a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

.grt-menu-right a{
    color: white;
    text-decoration: none;
}

.images-section-bg label{
    cursor: pointer;
}

.images-section-bg .disabled{
    cursor: not-allowed;
}

.new-listing-image-li{
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.center {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999999 !important;
}

ul .slide {
    display: flex;
    align-items: center;
    justify-content: center;    
}


/*for footer fix*/
#page-content{
    min-height: 93vh;
}

footer{
    height: 7vh;
    padding: 0;
}

footer>div{
    height: inherit;
    display: flex;
    align-items: center;
}

footer .copyright{
    flex-grow: 1;
}
/*end footer fix*/